
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #111;
  color: #eee;
  font-family: 'Comfortaa', cursive;
}


#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}


button, a {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}



